streamlit==1.31
pandas==2.1.4
numpy==1.26.2
plotly==5.18.0
fastapi==0.108.0
uvicorn==0.24.0
requests==2.31.0
python-multipart==0.0.6
openpyxl==3.1.2
matplotlib==3.8.0
python-dotenv==1.0.0
colorama==0.4.6
pydantic==2.5.2
typing-extensions==4.9.0
websockets==11.0.3
xlrd==2.0.1
tqdm==4.66.1
pillow==10.2.0
miniupnpc==2.2.3
psycopg2-binary==2.9.9 